@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  color: #999999;
  font-family: "Source Sans Pro", Helvetica, sans-serif !important;
  font-size: 14pt !important;
  font-weight: 400 !important;
  line-height: 1.75em !important;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #57068c !important;
  text-decoration: none !important;
}

a:hover {
  border-bottom-color: transparent;
  color: #8900e1 !important;
  text-decoration: none;
}

strong,
b {
  color: #777777;
  font-weight: 400;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #777777;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #efefef;
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

blockquote {
  border-left: solid 6px #efefef;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 1.5em;
}

code {
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px #efefef;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

br {
  display: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Header */

.WordSection1 {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: -moz-flex-end;
  -webkit-align-items: -webkit-flex-end;
  -ms-align-items: -ms-flex-end;
  align-items: flex-end;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background-color: #1f1815;
  background-attachment: scroll, scroll;
  background-image: url("images/overlay.png"), url("../../images/bg.jpg");
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, 150%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 5em 2em 7em 2.5em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 25%;
}

.WordSection1 > * {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
}

.WordSection1 > .inner {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  margin: 0 0 2em 0;
}

.WordSection1 .MsoTitle,
.WordSection1 b {
  color: #ffffff;
  font-size: 1.3em;
}

.WordSection1 .MsoSubtitle,
.WordSection1 h2,
.WordSection1 h3,
.WordSection1 h4,
.WordSection1 h5,
.WordSection1 h6 {
  color: #ffffff;
  font-size: 0.75em;
  line-height: 1.5em;
}

.WordSection1 h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.75em;
  line-height: 1.75em;
  margin: 0;
}

.WordSection1 .image.avatar {
  margin: 0 0 1em 0;
  width: 6.25em;
}

.WordSection1 p:last-child {
  bottom: 0;
  position: absolute;
  font-size: 0.6em;
}

.WordSection1 a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #fff !important;
  text-decoration: none !important;
}

.WordSection1 a:hover {
  border-bottom-color: transparent;
  color: #8900e1 !important;
  text-decoration: none;
}

.WordSection1>p:first-child {
  margin-bottom: 1em;
}

.WordSection1>p:first-child>span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
}

.WordSection1 img {
  height: 100%;
}

/* Navigation */
.WordSection2 {
    position: sticky;
    height: 3.5em;
    top: 0;
    background-color: white;
    z-index: 999;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0.75em 3em;
    /* background-color: black; */
}

.WordSection2 > ul {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

.WordSection2 > ul li {
  padding: 0;
  vertical-align: middle;
}

.WordSection2>ul>li>a {
  margin: 0 0.25em;
  padding: 0.5em 0.6em;
  text-decoration: none !important;
  color: #000 !important;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.WordSection2>ul>li>a:hover {
  border-bottom-color: transparent;
  color: #8900e1 !important;
  text-decoration: none;
  border: 1px solid #8900e1;
}

a[name="_about"], 
a[name="_books"],
a[name="_lectures"],
a[name="_videos"],
a[name="_publications"],
a[name="_honors"],
a[name="_teaching"] {
  display: block;
  position: relative;
  top: -3.5em;
  visibility: hidden;
}


/* Main */

.WordSection2,
.WordSection3,
.WordSection4,
.WordSection5,
.WordSection6,
.WordSection7,
.WordSection8,
.WordSection9 {
  margin-left: 30%;
  min-width: 755px;
}

.WordSection3 {
  margin-top: 3.5em;
}

.WordSection3,
.WordSection4,
.WordSection5,
.WordSection6,
.WordSection7,
.WordSection8,
.WordSection9 {
  padding: 3.5em 3em 0 3em;
  margin-top: -3.5em;
}

/* Books */
.WordSection4 {
  margin-bottom: 2em;
}

.WordSection4 > ul:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  grid-column-gap: 1.25em;
}

.WordSection4 ul:first-of-type>li:last-child {
  font-size:0.7em;
}

.WordSection4 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Videos */
.WordSection6>ul:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  grid-column-gap: 1.25em;
}

.WordSection6 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Publications */
.WordSection7 li {
  margin-top: 1.5em !important;
}